<head>
    <style>
        @media (max-width: 1200px) {
            body {
                margin-top: 50px;
            }
            .navbar {
                position: fixed;
                right: 0;
                left: 0;
                border-radius: 0;
                top: 0;
            }
        }
    </style>
</head>



<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark ">


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNav" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">


        <div class="hamburger" id="hamburger" onclick="myFunction(this)">
            <div class="icon1"></div>
            <div class="icon2"></div>
            <div class="icon3"></div>
        </div>


    </button>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span>
            <a class="nav-link" id="navcolor" href="/cart" style="text-transform:uppercase;"><img
                    src="/images/cart01.png" width=32 height=32></a>
        </span>
    </button>



    <div class="collapse navbar-collapse" id="collapsibleNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item ">
                <a class="nav-link" id="navcolor" href="/" style="text-transform:uppercase">home</a>
            </li>
            <% brand.forEach(function(brands){ %>
                <li class="nav-item ">
                    <a class="nav-link" id="navcolor" href="/users/<%= brands.brand %> " style="text-transform:uppercase">
                        <%= brands.brand%> <span class="sr-only"></span></a>
                </li>
                <% }) %>


        </ul>

        <div class="dropdown">
            <a class="nav-link" id="navcolor" href="/cart" style="text-transform:uppercase"><img src="/images/cart01.png" width=32 height=32 alt="cart"></a>
            <div class="dropdown-menu dropdown-menu-right" style="width:300px" aria-labelledby="dropdownId">
                <% if (cart.item.length>0){ %>
                    <table>
                        <tr>

                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col" style="margin-left:10px">Size</th>
                            <th scope="col" style="margin-left:10px">QTY</th>
                        </tr>
                        <tbody>

                            <% cart.item.forEach(function(product){ %>
                                <tr>
                                    <td><img src="<%= product.img%> " width="72" height="72"></td>
                                    <td class="align-middle">
                                        <%= product.name %>
                                    </td>
                                    <td class="align-middle">
                                        <a>
                                            $
                                            <%= product.price %>
                                        </a>
                                    </td>
                                    <td class="align-middle">
                                        <a style="margin-left:10px">
                                            <%= product.size %>
                                        </a>
                                    </td>
                                    <td class="align-middle">
                                        <a style="margin-left:10px">
                                            <%= product.qty %>
                                        </a>
                                    </td>
                                </tr>
                                <% })} else {%>
                                    <div class="alert alert-danger" role="alert">
                                        You haven’t added any pieces to your cart, but not for long!
                                    </div>
                                    <% } %>
                        </tbody>
                    </table>


            </div>
        </div>


        <% if (users && users.admin==1){ %>

            <div class="dropdown">
                <a href="#" class=" dropdown-toggle" id="usercolor" style="text-transform:uppercase; margin-right: 20px; text-decoration: none;">
                    <%= users.username%>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="/admin/addproducts" style="text-transform:uppercase; ">Add product</a>



                    <a class="dropdown-item" href="/admin/addbrand" style="text-transform:uppercase; ">Add brand </a>

                    <a class="dropdown-item" href="#" style="text-transform:uppercase " data-toggle="modal" data-target="#logoutModal">logout</a>

                </div>
            </div>
    </div>

    <% } %>



        <% if(!users){ %>
            <a id="navcolor" href="#" style="text-transform:uppercase; margin-right: 20px;"><img src="/images/login01.png" width=29 height=29 alt="login" data-toggle="modal" data-target="#LoginForm"></a>
            <% } %>
                <% if (users &&users.admin!==1){ %>
                    <div class="dropdown">
                        <a class=" dropdown-toggle" id="usercolor" style="text-transform:uppercase; margin-right: 20px;">
                            <%= users.username%>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="#" style="text-transform:uppercase " data-toggle="modal" data-target="#logoutModal">logout</a>

                        </div>
                    </div>
                    <% } %>

                        </div>


</nav>
</div>

<body>
    <%- include ('../partials/modal') -%>

        <script src="./routes/index.js"></script>
        <script src="/js/hamburger.js"></script>
        <script src="/js/shopcart.js"></script>
</body>