<head>
    <%- include ('../partials/head') -%>
    <title>Cart</title>
</head>

<%- include ('../partials/nav') -%>

<body>
    <div class="container" style="margin-top: 5%">
        <div class="row justify-content-center">
            <h4><b>CART</b></h4>
        </div>
        <div class="row justify-content-center">
            <% if (cart.item.length>0){ %>

        </div>

        <br>

        <div class="row justify-content-center">
            <table class="table">
                <thead>
                    <tr>

                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Size</th>
                        <th scope="col">QTY</th>
                    </tr>
                </thead>
                <tbody>

                    <% cart.item.forEach(function(product){ %>
                    <tr>

                        <th scope="row">1</th>
                        <td><img src="<%= product.img%> " width="72" height="72"></td>
                        <td>
                            <%= product.name  %>
                        </td>
                        <td>
                            $
                            <%= product.price %>
                        </td>
                        <td>
                            <%= product.size %>
                        </td>
                        <td>
                            <%= product.qty %>
                        </td>

                        <% }) %>

                </tbody>
            </table>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-2">
                <h4 style="color: red">Total : ฿
                    <%= cart.total  %>
                </h4>
            </div>
            <div class="col-md-2">
                <!-- <form class="form" action="/del_pro" method="POST"> -->
                    <button class="btn btn-danger" data-toggle="modal" data-target="#ClearcartModal" >Clear cart</button>
                <!-- </form> -->
            </div>
        </div>
            <div class="row justify-content-center" style="margin-top: 20px;">
                <form class="form-group" action="/payment" method="post">
                    <script src="http://checkout.stripe.com/checkout.js" class="stripe-button" data-name="IZLE Shop"
                        data-key="pk_test_51Hqx98I1kRWYSgPMj2J5DBfbaymaaJiFckYu1Gnp2k0LQsZQFR2kyyOkr2hkWFMOQhABEpkgexu2gLyAtxXOO0Ra00JXccQu3v"
                        data-description="Project E-commerce" data-amount="<%= cart.total*100 %>"
                        data-currency="baht"></script>
                    <input type="hidden" name="amount" value="<%= cart.total*100 %>">

                </form>
                <% }else { %>

                <div class="alert alert-danger" role="alert">
                    You haven’t added any pieces to your cart, but not for long!
                </div>
                <% } %>
            </div>
        </div>
        <%- include ('../partials/modal') -%>

        <script src="/js/shopcart.js"></script>
</body>