<head>
    <%- include ('../partials/head') -%>
    <title>

    </title>
</head>
<header>
    <%- include ('../partials/nav') -%>
</header>





<body>


    <img src="/images/products/adidas/adi.gif" style="margin-top: 20px;" class="w-100">

        <div class="container">
            <div class="row justify-content-between">
                <%product.forEach(function(products){ %>
                <div class="col-md-16">
                    <div class="card" style="width: 18rem;margin-top:20px;">
                        <img id="myimage" src="<%= products.img  %> " class="card-img-top" alt="gucci shoes">
                        <div class="card-body bg-dark" id="nameproducts">
                            <h5 class="card-title">
                                <%= products.nameproducts %>
                            </h5>
                            <p class="card-text" style="color: white">
                                ฿ <%= formatMoney(products.price) %>
                            </p>
                            <form class="form-group" action="/users/cart" method="post">
                                <div class="form-group">
                                    <label for="inputState" style="color:white">Size</label>
                                    <select id="inputState" class="form-control" name="size" type="text">
                                        <option>Select ...</option>
                                        <option>6 US</option>
                                        <option>6.5 US</option>
                                        <option>7 US</option>
                                        <option>7.5 US</option>
                                        <option>8 US</option>
                                        <option>8.5 US</option>
                                        <option>9 US</option>
                                        <option>9.5 US</option>
                                        <option>10 US</option>
                                        <option>10.5 US</option>
                                        <option>11 US</option>
                                    </select>
                                </div>
                                <input type="hidden" name="products_id" value="<%=products._id%>">
                                <input type="submit" value="Add to cart" class="btn btn-primary ">

                            </form>
                        </div>
                    </div>
                </div>

                <% }) %>

            </div>
        </div>

        <script src="/js/shopcart.js"></script>


</body>