<head>
    <%- include ('../partials/head') -%>
    <title>
        <%= brand.brand %>
    </title>
</head>
<header>
    <%- include ('../partials/nav') -%>
</header>





<body>


    <%- include('../partials/modal') %>

    <div class="container">

        <div class="container">
            <div class="row justify-content-between">
                <%product.forEach(function(products){ %>

                <div class="col-md-16">
                    <img src="/images/products/adidas/adi.gif" style="margin-top: 20px;" class="w-100">

                    <div class="card" style="width: 18rem;margin-top:20px;">

                        <img id="myimage" src="<%= products.img  %> " class="card-img-top" alt="gucci shoes">

                        <div class="card-body bg-dark" id="nameproducts">
                            <h5 class="card-title">
                                <%= products.nameproducts %>
                            </h5>
                            <p class="card-text">
                                <%= formatMoney(products.price) %>
                            </p>
                            <a href="#"class="btn btn-primary add-to-cart">Add to
                                Cart</a>
                        </div>
                    </div>
                </div>

                <% }) %>

            </div>
        </div>

        <script src="/js/shopcart.js"></script>


</body>