<head>
    <%- include ('../partials/head') -%>
        <title>GUCCI</title>
</head>
<%- include ('../partials/nav') -%>
    <!-- <%- include('../partials/size') %> -->

    <body>

        <!-- <%- include ('../partials/promotions') -%> -->
            <!-- <img src="/images/products/gucci/gucci.gif" style="margin-top: 20px;" class="w-100"> -->

            <div class="container">
                <div class="row justify-content-between">
                    <% products.forEach(function(product){ %>
                        <% if (product.brand == "Amiri"){ %>
                            <div class="col-md-16">

                                <div class="card" style="width: 18rem;margin-top:20px;">
                                    <a href="#"><img src="<%= product.img  %> " class="card-img-top" alt="gucci shoes"></a>
                                    <div class="card-body bg-dark" id="nameproducts">
                                        <h5 class="card-title">
                                            <%= product.nameproducts %>
                                        </h5>
                                        <p class="card-text">
                                            <%= product.price %>
                                        </p>
                                        <a href="#" data-name="addas-yeezy" data-price="10000" data-toggle="modal" data-target="#confirm" class="btn btn-primary ">Add to cart</a>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                                <% }) %>
                </div>
            </div>



            <script src="/js/shopcart.js"></script>
    </body>