<head>
    <%- include ('../partials/head') -%>
        <title>REEBOK</title>
</head>
<%- include ('../partials/nav') -%>
    <%- include('../partials/size') %>

        <body>

            <%- include ('../partials/promotions') -%>
                <img src="/images/products/reebok/reebok.gif" style="margin-top: 20px;" class="w-100">

                <div class="container">
                    <% products.forEach(function(product){ %>
                        <% if (product.brand == "Reebok"){ %>
                            <div class="container">
                                <div class="col-md-16">
                                    <div class="card" style="width: 18rem;margin-top:20px;">
                                        <img src="<%= product.img  %> " class="card-img-top" alt="gucci shoes">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%= product.nameproducts %>
                                            </h5>
                                            <p class="card-text">
                                                <%= product.price %>
                                            </p>
                                            <a href="#" data-name="addas-yeezy" data-price="10000" class="btn btn-primary add-to-cart">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                    <% }) %>
                            </div>

                            <script src="/js/shopcart.js"></script>
        </body>